RepositoryTruckLogistics/ServicioRepository/Connected Services/ServiceReference1/ServicioWCFCamion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Camion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EjesAlimentados" type="xs:int" />
      <xs:element minOccurs="0" name="EsfuerzoDeTorsion" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PotenciaDelMotor" type="xs:int" />
      <xs:element minOccurs="0" name="RecuentoDeEngranajes" type="xs:int" />
      <xs:element minOccurs="0" name="Retardero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDeCarga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Camion" nillable="true" type="tns:Camion" />
</xs:schema>